
# Ignore all logfiles and tempfiles.

.settings
/*/.settings
/*/.settings/*

.project

.classpath
/*/.classpath
/*/.classpath/*


bin
/*/bin
/*/bin/*

target
/*/target
/*/target/*

.DS_Store

.svn
.svn/*

catalina.base_IS_UNDEFINED
/*/catalina.base_IS_UNDEFINED
/*/catalina.base_IS_UNDEFINED/*

.idea
.idea/*
*.iml
Thumbs.db

/*/test/**/My*.java
/*/test/**/*_*.java
/*/test/**/*Method.java
mytest
/com/mytest/